@import 'src/styles/variables.css';

body {
    font-family: var(--font-main);
    background-color: var(--color-bg);
    color: var(--color-text);
  }
  
  h1, h2, h3 {
    color: var(--color-text);
  }
  
  a {
    color: var(--color-text);
  }
  
  a:hover {
    color: var(--color-secondary);
  }
  
